<section class="welcome-page">
    <h1 class="h1-text"> Welcome to Movies Review Platform !!!</h1>
    <h2 class="h2-text">Movie Review is the world's most trusted recommendation resources for quality entertainment. As the loading online aggregator of movie and TV show reviews from critics. We provide fans with a comprehensive guide to what's fresh - an what's Rotten - in theaters and at home. If you are an entertainment fan looking for a recommendation. or to share an opinion. You've come to the right place.</h2>
    <div class="navigation-Buttons">
        <button style="background-color:#225254;color: white;" mat-raised-button (click)="signup()">Sign Up</button>
        <button style="background-color:#225254;color: white;" mat-raised-button (click)="login()">Login</button>
    </div>
</section>